<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cats and Dogs Classifier</title>
</head>
<body>
	<div class="container">
		<center>
			<h1> Upload a pic here. </h1>
			<form method="POST" action="/" enctype="multipart/form-data">
				<dl>
					<p>
						<input type="file" name="file" class="form-control" autocomplete="off" required>
					</p>
				</dl>
				<p>
					<input type="submit" value="Submit">
				</p>
			</form>
		</center>
	</div>
</body>
</html>
